modules = ["python-3.11", "nix"]
run = "python main.py"

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

# The 'run' config below is used by the "Run" button in Replit.
[deployment]
run = ["sh", "-c", "python main.py"]
deploymentTarget = "gce"

[[ports]]
localPort = 8000
externalPort = 80
